*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #050505;
  --white: #ffffff;
  --green: #34d19e;
  --gray: #ececec;
}

body {
  width: 100%;
  padding: 0;
  background-color: var(--gray);
  font-family: 'Space Mono', monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100vw;
  overflow: hidden;
  /* background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://www.brewdog.com/images/cms/blog/1462353293Malmo4.jpg); */
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: blur(4px);
  opacity: 1;
}

.image-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.486);
}

header > img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  padding: 20px;
  width: 70%;
  max-width: 950px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 0.25vh;
}
.search-Navigations {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.searchPageNav {
	display: flex;
}
.searchPageNav > a {
	margin: 10%;
	cursor: pointer;
	font-size: 0.9rem;
}
#search {
  color: #000;
  height: 50px;
  width: 80%;
  padding-left: 18px;
  border-radius: 3vh;
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  background-color: #fff;
  border: 2px solid #fff;
}
select {
  width: 25%;
  margin: 5px;
}


.search-advanced {
  width: 70%;
  /*margin: 20px auto;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.card-small:hover {
  transform: scale(1.03);
  border: 1px solid var(--green);
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 20% 60% 20%);
  overflow: hidden;
  background-color: #fff;
  border-radius: 1vh;
  max-width: 1200px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.card-small {
  width: 60%;
  height: 300px;
}

.card-big {
  margin-top: 2vh;
  width: 80%;
  height: 500px;
}

.card-content {
  padding: 10px 20px;
  border-left: 1px solid rgba(45, 41, 38, 0.1);
  border-right: 1px solid rgba(45, 41, 38, 0.1);
}

.card-left-aside {
  display: grid;
  justify-content: center;
  padding-top: 20%;
}

.card-left-aside > img {
  max-height: 200px;
  max-width: 100%;
}

.right-aside {
  padding: 0 10%;
}
